@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Pangolin', cursive;
    background-color: rgb(238, 228, 225);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.body {
    text-align: center;
    padding: 30;
   
}

h2 {
    font-size: 28px; 
    color: rgb(95, 78, 72); 
    margin-bottom: 30px; 
}

.gif-animation {
    margin-bottom: 3rem;
}

#gif {
    height: 500px;
    width: 500px; 
    border-radius: 1rem;
}

.button-row {
    display: inline-block;
    margin-left: -7rem;
    margin-bottom: 2rem;
 
}

.yay-btn {
    font-family: "Jost", sans-serif;
    font-size: 18px;
    background-color: rgb(178, 150, 125); 
    color: white;
    border: 2px solid rgb(116, 97, 81); 
    padding: 12px 24px;
    margin-left: 7rem;
    cursor: pointer;
    border-radius: 1rem; 
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button {
    font-family: "Jost", sans-serif;
    font-size: 18px;
    background-color: rgb(178, 150, 125); 
    color: white;
    border: 2px solid rgb(116, 97, 81); 
    padding: 12px 24px;
    margin: 0 10px; 
    cursor: pointer;
    border-radius: 1rem; 
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgb(116, 97, 81);
}


#no {
    position: absolute;
    top: 43.3rem;
    left: 47rem;
}

@media screen and (min-width: 400px) {
    .body {
        padding: 5rem;
        margin-top: -10rem;
    }

    h2 {
        font-size: 350%;
        margin-bottom: 5rem;
    }

    #gif {
        height: 900px;
        width: 800px; 
        border-radius: 1rem;
    }

    .button-row {
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    .yay-btn, .button {
        font-size: 250%;
        padding: 30px 60px;
    }

    #no {
        top: 36.6rem;
        left: 15rem;
    }
}